<main class="container containers">
  <div class="row">
    <div class="col s12 m6 offset-m3">
      {{#if message}}
        <blockquote class="flash-messages">
          {{message}}
        </blockquote>
      {{/if}}
    </div>
  </div>
  <div class="row">
    <div class="col s12 m8 l8">
      <div id="account-profile" class="section scrollspy">
        <ul class="collection with-header">
          <li class="collection-header">
            <img src="{{account.profileImg}}" alt="" class="profile-img">
            <h4>{{account.nameFirst}} {{account.nameLast}}</h4>
          </li>
          <li class="collection-item">
            <p class="item-title">Street:</p>
            <p>{{account.locationStreet}}</p>
          </li>
          <li class="collection-item">
            <p class="item-title">City:</p>
            <p>{{account.locationCity}}</p>
          </li>
          <li class="collection-item">
            <p class="item-title">State:</p>
            <p>{{account.State.stateName}}</p>
          </li>
          <li class="collection-item">
            <p class="item-title">Zip Code:</p>
            <p>{{account.locationZip}}</p>
          </li>
          <li class="collection-item">
            <p class="item-title">Phone:</p>
            <p>{{account.phone}}</p>
          </li>
          <li class="collection-item">
            <p class="item-title">Email:</p>
            <p>{{account.email}}</p>
          </li>
        </ul>
      </div>

      <div id="account-joined" class="section scrollspy">
        <ul class="collection with-header">
          <li class="collection-header account-header">
            <h4 class="valign-wrapper"><i class="material-icons">insert_invitation</i>Joined</h4>
          </li>
          <li class="collection-item">
            <p class="item-title">Donating Since:</p>
            <p>{{dateFormat account.createdAt "long"}}</p>
          </li>
          <li class="collection-item">
            <p class="item-title">Total Donated:</p>
            <p>${{currencyFormat donated}}</p>
          </li>
        </ul>
      </div>

      <div id="account-charities" class="section scrollspy">
        <ul class="collection with-header">
          <li class="collection-header account-header">
            <h4 class="valign-wrapper"><i class="material-icons">favorite</i>Charities</h4>
          </li>
          {{#each account.Donations}}
            <li class="collection-item">
              <p class="item-title">{{this.Charity.charityName}}</p>
              <p>{{this.Charity.Category.categoryName}}</p>
              <p>{{this.Charity.Cause.causeName}}</p>
            </li>
          {{/each}}
        </ul>
      </div>

      <div id="account-history" class="section scrollspy">
        <ul class="collection with-header">
          <li class="collection-header account-header">
            <h4 class="valign-wrapper"><i class="material-icons">monetization_on</i>History</h4>
          </li>
          <table>
            <thead>
              <tr class="collection-item row">
                <th class="col s3">Date</th>
                <th class="col s6">Payment Type</th>
                <th class="col s3">Total</th>
              </tr>
            </thead>
            <tbody>
              {{#each transactions}}
                <tr class="collection-item row">
                  <td class="col s3">{{dateFormat this.createdAt "short"}}</td>
                  <td class="col s6 truncate">{{cardName}}</td>
                  <td class="col s3">${{currencyFormat amount}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </ul>
      </div>
    </div>
    <div class="col hide-on-small-only m3 l2 offset-m1 offset-l2">
      <ul class="section table-of-contents">
        <li><a href="#account-profile">Profile</a></li>
        <li><a href="#account-joined">Joined</a></li>
        <li><a href="#account-charities">Charities</a></li>
        <li><a href="#account-history">History</a></li>
      </ul>
    </div>
  </div>
</main>
