<main class="container containers">
  <div class="row">
    <div class="col s12 m6 offset-m3">
      {{#if account.message}}
        <blockquote class="flash-messages">
          {{account.message}}
        </blockquote>
      {{/if}}
    </div>
  </div>
  <div class="row">
    <div class="col s12 m9 l10">
      <div id="account-profile" class="section scrollspy">
        <ul class="collection with-header">
          <img src="{{account.profile.profileImg}}" alt="" class="circle profile-img">
          <li class="collection-header account-header"><h4>{{account.profile.nameFirst}} {{account.profile.nameLast}}</h4></li>
          <li class="collection-item"><span>Street:&nbsp;</span>{{account.profile.locationStreet}}</li>
          <li class="collection-item"><span>City:&nbsp;</span>{{account.profile.locationCity}}</li>
          <li class="collection-item"><span>State:&nbsp;</span>{{account.profile.StateAbbrev}}</li>
          <li class="collection-item"><span>Zip Code:&nbsp;</span>{{account.profile.locationZip}}</li>
          <li class="collection-item"><span>Phone:&nbsp;</span>{{account.profile.phone}}</li>
          <li class="collection-item"><span>Email:&nbsp;</span>{{account.profile.email}}</li>
        </ul>
      </div>

      <div id="account-joined" class="section scrollspy">

      </div>

      <div id="account-charities" class="section scrollspy">

      </div>

      <div id="account-history" class="section scrollspy">

      </div>
    </div>
    <div class="col hide-on-small-only m3 l2">
      <ul class="section table-of-contents">
        <li><a href="#account-profile">Profile</a></li>
        <li><a href="#account-joined">Joined</a></li>
        <li><a href="#account-charities">Charities</a></li>
        <li><a href="#account-history">History</a></li>
      </ul>
    </div>
  </div>
</main>
