<main class="container containers">
  <div class="row">
    <div class="col l6 s12 offset-l3">
      <form id="category-form">
        <ul class="collapsible popout" data-collapsible="accordion">
          {{#each categories}}
          <li>
            <div class="collapsible-header">
              <img class="category-img" src="{{~this.categoryImg~}}" alt="">
              <p class="category-name">
                {{~this.categoryName~}}
              </p>
              <p>
                <input type="checkbox" class="filled-in" id="category-{{~this.id~}}" data-category="{{~this.id~}}">
                <label for="category-{{~this.id~}}"></label>
              </p>
            </div>
            <div class="collapsible-body"><span>{{~this.categoryDesc~}}</span>
            </div>
          </li>
          {{/each}}
        </ul>
      </form>
    </div>
  </div>
</main>
